

  <form>
 <div class="flex-row justify-content-center p-2">
    <!-- <div class=" col-md-6 col-sm-6 col-md-6 col-lg-4 col-xl-4">
      <div class="card" style="width: 900px; margin: 0 auto; padding: 1em; border: 1px solid; border-radius: 1em; ">
        <div class="card-header text-center"> -->
          <h4> <span class="text-primary font-weight-bold" >Ajouter Plan Comptable</span></h4>
        </div>
        <div class="card-body">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="Code">Num Compte :</label>
              <input type="text" class="form-control" id="Code" placeholder="Num Compte" >
              </div>
          </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="Numero">Id Parent :</label>
                <input type="text" class="form-control" id="idParent"  placeholder="idParent">
              </div>
    
              <div class="form-group col-md-6">
                <label for="Date"> Date</label>
                <input type="date" class="form-control" id="Date" value="Date">
              </div>
            </div>
           <div class="form-row">
              <div class="form-group col-md-5" >
                <label for="Etat" >Statut :</label>
                <select  class="form-control col-md-15" >
                                <option selected > actif </option>
                                <option  > non actif  </option>
                            </select>
                           </div>
                </div>
            <div class="form-row justify-content-center">
              <button  type="submit"  class="btn btn-primary mr-2">Create</button>
              <button type="submit" (click)="annuler()" class="btn btn-primary">Delete</button>
            </div>
        </div>
      <!-- </div>
    </div>
</div> -->
</form>
