<!-- <div class="row justify-content-center pt-2">
    <div class="text-center col">
      <h1 class="h3">Ajouter Compte</h1>
      <hr>
    </div>
  </div> -->

  <div class="row justify-content-center p-2">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class="card">
        <div class="card-header text-center">
          <h4> <span class="text-primary font-weight-bold" style="color: #c6dcef;">Ajouter Plan Comptable</span></h4>
        </div>
        <div class="card-body">
          <form>
            
            <div class="form-group ">
                <label for="Code">Code :</label>
                <input type="text" class="form-control" id="Code" placeholder="" value="Enter votre Code">
              </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="Numero">Numero  :</label>
                <input type="text" class="form-control" id="Numero" value="Enter votre Numero">
              </div>
             
              <div class="form-group col-md-5">
                <label for="releaseDate">Release Date</label>
                <input type="date" class="form-control" id="releaseDate" value="Date">
              </div>
            </div>
            <div class="form-row">
              
              <div class="form-group col-md-4">
                <label for="Etat">Etat :</label>
                <input type="text" class="form-control" id="Etat" placeholder="" value="Actif ou Non">
              </div>
              <div class="form-group col-md-4">
                <label for="Parent">Parent :</label>
                <input type="text" class="form-control" id="Parent" placeholder="" value="Parent">
              </div>
            </div>
            <div class="form-row justify-content-center">
              <button type="submit" class="btn btn-primary mr-2">Create</button>
              <button type="submit" class="btn btn-primary">Delete</button>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>