form {
   
    margin: 0 auto;
    width: 400px;
   background-color:#c6dcef;
    padding: 1em;
    border: 1px solid rgb(174, 182, 216);
    border-radius: 1em;
  }
  
  form div + div {
    margin-top: 0.2em;
  }
  
//   label {
//     display: inline-block;
//     width: 50px;
//     text-align: right;
//   }
  
//   input {

//     font: 1em sans-serif;
  
//     width: 200px;
//     box-sizing: border-box;
  
//     border: 1px solid #999;
//   }

//   .button {
//     padding-left: 90px;
// }
  
 

