<nb-card>
  <nb-card-header> Les détails facture </nb-card-header>
  <nb-card-body>
    <p-table #dt [value]="details" [rows]="5" [rowsPerPageOptions]="[5, 10]">
      <ng-template pTemplate="caption">
        <h6>Table des Details facture</h6>
        <div class="my-right">
          <!-- <button
              style="margin-bottom: 20px;"
              pButton
              label="Ajouter nouveau facture"
              class="p-button-info"
              id="btn-add"
              icon="pi pi-edit "
            ></button> -->
          <br />
          <span class="p-input-icon-left ml-auto">
            <input style="height: 40px;" pInputText type="text" />
          </span>
          <br />
          <br />
        </div>
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th>designation</th>
          <th>quantite</th>
          <th>tva</th>
          <th>prix</th>
          <th>remise</th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-d>
        <tr>
          <td style="font-weight: bold;">{{ d.designation }}</td>
          <td>{{ d.quantite | date: "dd/MM/yyyy" }}</td>
          <td>{{ d.tva }}</td>
          <td>{{ d.prix }}</td>
          <td>{{ d.remise }}</td>
          <td>
            <button
              pButton
              icon="pi pi-trash"
              class="btn btn-danger"
              style="margin-right: 10px;"
            ></button>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="summary">
        <div style="font-weight: bold;" class="my-right">
          {{ facturesCompta?.length }} factures(s)
        </div>
      </ng-template>
    </p-table>
  </nb-card-body>
</nb-card>
