<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<nb-card>
    <nb-card-header>
        Gestion des banques
    </nb-card-header>
    <nb-card-body>
        <div class="heading">
            <h1>Comptes Bancaires</h1>
            <button (click)="ajouter()" class="btn btn-warning">Ajouter Compte Bancaire</button>
        </div>
        <p-table class="table table-dark table-hover" [value]="listCompteBancaire" styleClass="p-datatable-striped"
            responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr scope="row">
                    <th>Num Compte Bancaire</th>
                    <th>Designation Journal</th>
                    <th>Nom Fournisseur</th>
                    <!-- <th>Etat</th> -->
                    <th>Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-banque>
                <tr>
                    <td>{{banque.numCompte}}</td>
                    <td>{{banque.code}}</td>
                    <td>{{banque.nomFournisseur}}</td>
                    <!-- <td> {{banque.isActif}}</td> -->
                    <td>
                        <button (click)="open(content,banque.id)" class="btn btn-danger btn-rounded mr-2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                          </svg></button>
                        <button (click)="update(banque.id)" type="button" class="btn btn-primary btn-rounded"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                          </svg></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Confirmation</h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure to delete this?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="d('Cross click')">annuler</button>
                <button type="button" class="btn btn-outline-dark" (click)="c('yes')">ok</button>
            </div>
        </ng-template>
    </nb-card-body>
</nb-card>